@import "tailwindcss";
@import "fumadocs-ui/css/catppuccin.css";
@import "fumadocs-ui/css/preset.css";

@source '../node_modules/fumadocs-ui/dist/**/*.js';
@plugin 'tailwindcss-animate';

@layer base {
	button {
		cursor: pointer;
	}
}

@theme {
	@keyframes stroke {
		from {
			stroke-dasharray: 1000;
		}
		to {
			stroke-dasharray: 1000;
			stroke-dashoffset: 2000;
		}
	}

	--animate-stroke: stroke 5s linear infinite;
	--color-gradient-radial: radial-gradient(circle, var(--tw-gradient-stops));
	--color-repeat-gradient-to-r: repeating-linear-gradient(to right, var(--tw-gradient-stops));
	--color-repeat-gradient-to-br: repeating-linear-gradient(to bottom right, var(--tw-gradient-stops));
}

.ui {
	--color-fd-primary: var(--ui-color);
}

.headless {
	--color-fd-primary: var(--headless-color);
}

.mdx {
	--color-fd-primary: var(--mdx-color);
}

body {
	overscroll-behavior-y: none;
	background-color: var(--color-fd-background);
}

@keyframes circuit_1 {
	0% {
		transform: translateY(-20px);
	}

	100% {
		transform: translateY(100px);
	}
}

@keyframes circuit_1_x_energy {
	0%,
	46% {
		opacity: 0;
		transform: translateX(-20px);
	}
	47%,
	70% {
		opacity: 100%;
	}
	100% {
		opacity: 0;
		transform: translateX(212px);
	}
}
